/* cyrillic-ext */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Signika', sans-serif;
}

.landing {
  display: grid;
  background: white;
  grid-template-rows: 200px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas:
    "H H H H H H"
    "a1 a1 a2 a2 a3 a3"
    "ca ca ca ca ca ca";
}

.landing nav {
  background-color: #5b5b5b;
  grid-area: H;
}

.dontMiss {
  position: absolute;
  top: 221px;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.dontMiss h2 {
  color: #eaeaea;
  background: #4a4a4a;
  box-sizing: content-box;
  padding: 10px 15px;
  display: inline;
}

.landing nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
}

.menu span:nth-child(1) {
  font-family: 'Signika', sans-serif;
}

.menu span:nth-child(2) {
  font-family: 'Lora', serif;
  font-style: italic;
}

footer ul li {
  display: inline-block;
}

.landing nav ul li {
  width: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing nav ul li.menu {
  height: 80%;
  background: #444;
}

.landing nav ul li:not(.menu) {
  height: 20%;
  background: #4c4c4c;
}

.landing article {
  background-color: #636363;
  padding: 50px;
  color: #fff;
  border: 1px solid #fff;
  height: 500px;
}

.landing article div {
  display: flex;
  align-items: center;
}

.landing article span {
  background: #b7b7b7;
}

.landing article h1 {
  background: #888;
}

.callToAction {
  grid-area: ca;
  background: #404040;
  height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.callToAction ul {
  padding-left: 20px;
}

.callToAction div * {
  background: #646464;
}

.guide {
  padding: 50px;
}

.guide h2 {
  background: #838383;
}

.guide ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 50%;
  padding-left: 50px;
}

.one {
  grid-area: a1;
}

.two {
  grid-area: a2;
}

.three {
  grid-area: a3;
}

.four {
  grid-area: a4;
}

.five {
  grid-area: a5;
}

.six {
  grid-area: a6;
}

.seven {
  grid-area: a7;
}

.fone {
  grid-area: f1;
}

.ftwo {
  grid-area: f2;
}

.lastest {
  display: grid;
  grid-auto-rows: 600px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "a1 a1 a1 a2 a2 a2 a3 a3 a3 .  .  ."
    "f1 f1 f1 f1 f1 f1 a4 a4 a4 a5 a5 a5"
    "a6 a6 a6 a7 a7 a7 f2 f2 f2 f2 f2 f2";
}

.lastest article {
  background-color: #7c7c7c;
  padding: 20px;
}

.lastest article * {
  margin: 12px 0;
}

.lastest div {
  padding: 20px;
  background-color: #383838;
  text-align: center;
}

.lastest div>* {
  margin: 15px 0;
}

.lastest div span {
  padding: 10px 20px;
  background: #464646;
}

.lastest div p,
.lastest div h2 {
  background: #7c7c7c;
}

.book {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #4f4f4f;
  padding: 0 10%;
}

.book>.inner {
  margin: 15px 0;
}

.book>h2,
.book>p {
  background: #828282;
}

.book span {
  background: #3e3e3e;
}

.personOfWeek {
  display: flex;
}

.personOfWeek figure {
  flex: none;
}

.personOfWeek figure img {
  width: 250px;
}

.personOfWeek .description {
  background: #676767;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.otherPeople {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "a1 a2"
    "a3 a4"
    "a5 a6";
}

.person {
  display: flex;
  align-items: flex-start;
  height: 50vh;
  background: #989898;
  margin: 1px;
  padding: 20px;
}

.person img {
  flex: none;
  margin-right: 20px;
}

.tableContent {
  width: 100vw;
  background: dimgrey;
  display: flex;
  padding: 0 20px;
}

.tableContent img {
  flex: none;
}

.tableContent div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.tableContent div span {
  background: #424242;
}

.tableContent div>*:not(:nth-last-child(1)) {
  background-color: #565656;
}

.guides {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    "a1 a1 a1 a2 a2 a2 a3 a3 a3 a4 a4 a4"
    "a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5";
}

.guide {
  height: 100vh;
  background: #989898;
  margin: 1px;
}

.newsletter {
  background-color: #757575;
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.newsletter div {
  width: 550px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.landing .four {
  display: none;
}

/* Media Qeries START */

@media only screen and (max-width: 1800px) {
  .landing {
    grid-template-areas:
      "H H H H H H"
      "a1 a1 a1 a2 a2 a2"
      "a3 a3 a3 a4 a4 a4"
      "ca ca ca ca ca ca";
  }

  .landing .four {
    display: block;
  }

  .lastest {
    grid-template-areas:
      "a1 a1 a1 a1 a2 a2 a2 a2 a3 a3 a3 a3"
      "f1 f1 f1 f1 f1 f1 f1 f1 a4 a4 a4 a4"
      "a5 a5 a5 a5 a6 a6 a6 a6 a7 a7 a7 a7"
      "f2 f2 f2 f2 f2 f2 f2 f2 f2 f2 f2 f2";
  }

  .guides {
    grid-template-areas:
      "a1 a1 a1 a1 a2 a2 a2 a2 a3 a3 a3 a3"
      "a4 a4 a4 a4 a5 a5 a5 a5 a5 a5 a5 a5";
  }
}

@media only screen and (max-width: 1300px) {
  .lastest {
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1 a2 a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3 a3 f1 f1 f1 f1 f1 f1"
      "a4 a4 a4 a4 a4 a4 a5 a5 a5 a5 a5 a5"
      "a6 a6 a6 a6 a6 a6 a7 a7 a7 a7 a7 a7"
      "f2 f2 f2 f2 f2 f2 f2 f2 f2 f2 f2 f2";
  }

  .guides {
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1 a2 a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3 a3 a4 a4 a4 a4 a4 a4"
      "a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5";
  }
}

@media only screen and (max-width: 790px) {
  .landing {
    grid-template-areas:
      "H H H H H H"
      "a1 a1 a1 a1 a1 a1"
      "a2 a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3 a3"
      "a4 a4 a4 a4 a4 a4"
      "ca ca ca ca ca ca";
  }

  .lastest {
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1"
      "a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3 a3 a3 a3 a3 a3 a3 a3"
      "f1 f1 f1 f1 f1 f1 f1 f1 f1 f1 f1 f1"
      "a4 a4 a4 a4 a4 a4 a4 a4 a4 a4 a4 a4"
      "a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5"
      "a6 a6 a6 a6 a6 a6 a6 a6 a6 a6 a6 a6"
      "a7 a7 a7 a7 a7 a7 a7 a7 a7 a7 a7 a7"
      "f2 f2 f2 f2 f2 f2 f2 f2 f2 f2 f2 f2";
  }

  .otherPeople {
    grid-template-areas:
      "a1"
      "a2"
      "a3"
      "a4"
      "a5"
      "a6";
  }

  .personOfWeek {
    flex-direction: column;
  }

  .personOfWeek .description {
    width: 100%;
    padding: 20% 0;
  }

  .guides {
    grid-template-areas:
      "a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1 a1"
      "a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2 a2"
      "a3 a3 a3 a3 a3 a3 a3 a3 a3 a3 a3 a3"
      "a4 a4 a4 a4 a4 a4 a4 a4 a4 a4 a4 a4"
      "a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5 a5";
  }
}

body > p {
  background-color: lightgray;
  text-align: center;
}

footer {
  background-color: #a5a5a5;
  text-align: center;
  padding: 150px 0;
}
