* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.landing {
  display: grid;
  background: red;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.landing nav {
  background-color: rgba(0, 0, 0, 0.5);
  grid-column: 1 / span 3;
}

.landing article {
  height: 200px;
  background: rgba(0, 0, 200, 0.5);
  grid-row-start: 2;
}